/*  */

.inputWith_15_161 {
  display: flex;
  width: 300px;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}
/* Children Css */

.input_14_148 {
  display: flex;
  padding-left: 8px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  opacity: 1;

  color: #000;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.com_14_147 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .com {
    font-weight: 400;
  }
}

.inlineAddOn_14_146 {
  display: flex;
  height: 32px;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
}
