/*  */

.input_6_3 {
  display: flex;
  width: 300px;
  height: 32px;
  padding-left: 8px;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;

  color: #000;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &[type="number"]::-webkit-inner-spin-button {
    height: 32px;
  }
}
/* Children Css */
