/*  */

.lucideMail_10_96 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}
/* Children Css */

.vector_10_95 {
  width: 13.333px;
  height: 10.667px;
  flex-shrink: 0;
  stroke-width: 1.333px;
  stroke: #000;
  opacity: 1;
}
