/*  */

.lucideDollarSign_24_23 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}
/* Children Css */

.vector_24_22 {
  width: 8px;
  height: 13.333px;
  flex-shrink: 0;
  stroke-width: 1.333px;
  stroke: #000;
  opacity: 1;
}
