/*  */

.numberInput_18_206 {
  display: flex;
  width: 300px;
  height: 32px;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}
/* Children Css */

.input_18_207 {
  display: flex;
  padding-left: 8px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  opacity: 1;

  width: 21px;
  color: #000;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-appearance: none;
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.vector_1_38 {
  position: absolute;
  width: unset;
  height: unset;
  flex-shrink: 0;
  stroke-width: 1.333px;
  stroke: #000;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  opacity: 1;
}

.lucideChevronUp_1_34 {
  position: relative;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
  opacity: 1;
}

.up_1_28 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-bottom: 1px solid #000;
  opacity: 1;
}

.vector_1_33 {
  position: absolute;
  width: unset;
  height: unset;
  flex-shrink: 0;
  stroke-width: 1.333px;
  stroke: #000;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  opacity: 1;
}

.lucideChevronDown_1_30 {
  position: relative;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
  opacity: 1;
}

.down_1_29 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  opacity: 1;
}

.chevrons_1_26 {
  display: flex;
  width: 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-left: 1px solid #000;
  background: #fff;
  opacity: 1;
}
