/*  */

.textarea_18_211 {
  display: flex;
  width: 300px;
  height: 108px;
  padding: 7px 8px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;

  color: #000;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: vertical;
}
/* Children Css */
